.second-card{
    position: relative;
    top: -71px;
    margin-top: 0;
    &__item{
        width: 480px;
        height: 283px;
        @media(max-width:$md2+px){
            width: 305px;
            height: 215px;
        }
        @media(max-width:$md4+px){
            width: 90%;
            height: auto;
        }
    }
    &__body{
        padding: 15px;
    }
    &__image{
        margin-bottom: 19px;
        @media(max-width: $md2+px){
           width: 60px;
           height: 60px;
        }
    }
    &__swiper{
        padding: 2px;
    }
    &__container-mobile{
        @media(max-width: 1280px){
          padding: 0 130px;
        }
        @media(max-width: $md2+px){
            margin-top: 140px;
            padding: 0 15px;
        }
    }
}