.team {
  margin-top: 190px;
  position: relative;
  &__bg{
    @media (max-width: 1280px) {
      z-index: 1;
    }
  }
  &__bg-one{
    position: absolute;
    left: 0;
    top: 0;
    width: 600px;
    @media (max-width: $md2+px) {
      z-index: 1;
      width: 300px;
    }
  }
  &__bg-two{
    position: absolute;
    right: 0;
    top: 0;
    width: 600px;
    @media (max-width: $md2+px) {
      z-index: 1;
      width: 300px;
    }
  }
  @media (max-width: $md2+px) {
    margin-top: 100px;
    }
  // .team__body

  &__body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    @media (max-width: 1368px) {
      display: none;
    }
  }

  &__img {
    img {
      border-radius: 10px;
    }
  }

  // .team__flex

  &__flex {
    display: flex;
    justify-content: center;
    gap: 47px;
  }

  // .team__card

  &__card {
    width: 280px;
    height: 426px;
    position: relative;
    z-index: 10;
    transition: all 0.8s ease-in-out;

    box-shadow: 2px 2px 9px #91009d;
    border-radius: 10px;
    background: linear-gradient(#0d0d0d, #0d0d0d) padding-box,
      linear-gradient(45deg, #86affe, #a57aff, #fb84ff) border-box;
    border: 1px solid transparent;
    &._hidein {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      height: 0;
    }
    @media (max-width: 1368px) {
      margin: 0 auto;
    }
    @media (max-width: $md4+px) {
      width: 130px;
      height: auto;
    }
  }
  &__swiper {
    @media (min-width: 1368px) {
      display: none !important;
    }
  }

  &__swiper-button-prev,
  &__swiper-button-next {
    width: 35px;
    height: 45px;
    position: absolute;
    top: 25%;
    z-index: 100;
    @media (min-width: 1368px) {
      display: none;
    }
    @media (max-width: $md2+px) {
      top: 33%;
    }
    @media (max-width: $md2+px) {
      top: 33%;
    }
  }
  &__swiper-button-prev {
    left: 10px;
    &::after {
      content: "";
      background: url("../img/first-page/team/prev.svg");
      background-repeat: no-repeat;
      position: absolute;
      width: 35px;
      height: 45px;
    }
  }
  &__swiper-button-next {
    right: 0;
    &::after {
      content: "";
      background: url("../img/first-page/team/next.svg");
      background-repeat: no-repeat;
      position: absolute;
      width: 35px;
      height: 45px;
    }
  }

  // .team__card-title

  &__card-title {
    margin-bottom: 43px;
    @media (max-width: $md2+px) {
      margin-bottom: 20px;
      margin-top: 5px;
    }
  }

  // .team__card-title-text

  &__card-title-text {
    font-weight: 600;
    font-size: 23px;
    line-height: 28px;
    text-align: center;
    color: #ffffff;
    @media (max-width: $md4+px) {
      font-size: 12px;
    }
  }

  // .team__card-subtitle

  &__card-subtitle {
    margin-top: 13px;
  }

  // .team__card-title-subtext

  &__card-title-subtext {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #959595;
    @media (max-width: $md4+px) {
      font-size: 9px;
    }
  }

  // .team__icons

  &__icons {
    display: flex;
    align-items: center;
    margin-top: 35px;
    gap: 20px;
    justify-content: center;
    @media (max-width: $md4+px) {
      margin-top: 5px;
      margin-bottom: 15px;
    }
  }

  // .team__links

  &__links {
  }

  &__more {
    border: 2px solid #ffffff;
    border-radius: 50px 0px;
    background: none;
    padding: 18px 25px;
    display: flex;
    margin: 0 auto;
    color: #fff;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
  }
  &__swiper-container {
    padding: 0 52px;
    position: relative;
    @media (max-width: $md3+px) {
      padding: 0 90px;
    }
    @media (max-width: $md4+px) {
      padding: 0 52px;
    }
  }
}
._icon-instagram {
  @media (max-width: $md4+px) {
    &::before {
      font-size: 11px;
    }
  }
  &::before {
    // font-size: 19px;
  }
  &:hover::before {
    color: purple;
  }
}

._icon-linkedIn {
  &:hover::before {
    color: purple;
  }
  @media (max-width: $md4+px) {
    &::before {
      font-size: 11px;
    }
  }
}

._icon-telegram {
  &:hover::before {
    color: purple;
  }
  @media (max-width: $md4+px) {
    &::before {
      font-size: 11px;
    }
  }
}

._icon-twitter {
  &:hover::before {
    color: purple;
  }
  @media (max-width: $md4+px) {
    &::before {
      font-size: 11px;
    }
  }
}

.swiper-button-disabled {
  opacity: 0.4;
}

.marquee{
  @media(max-width: $md2+px){
    display: none;
  }
}
.marquee-mobile{
  margin-bottom: 22px;
  @media(min-width: $md2+px){
    display: none;
  }
}

.partners__item{
  img{
    max-width: unset;
  }
}

.partners__wrapper{
  margin-top: 51px;
  display: flex;
}