@font-face {
  font-family: 'icons';
  src:  url('../fonts/icons.eot?z24bmu');
  src:  url('../fonts/icons.eot?z24bmu#iefix') format('embedded-opentype'),
    url('../fonts/icons.ttf?z24bmu') format('truetype'),
    url('../fonts/icons.woff?z24bmu') format('woff'),
    url('../fonts/icons.svg?z24bmu#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"], [class*=" _icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-left-first::after {
  content: "\e904";
  color: #fff;
}
._icon-left-second::before {
  content: "\e905";
  color: #fff;
}
._icon-right-arrow:before {
  content: "\e906";
  color: #fff;
}
._icon-instagram:before {
  content: "\e900";
  color: #fff;
}
._icon-linkedIn:before {
  content: "\e901";
  color: #fff;
}
._icon-telegram:before {
  content: "\e902";
  color: #fff;
}
._icon-twitter:before {
  content: "\e903";
  color: #fff;
}
