.main {
  min-height: calc(100vh - 513px);
  flex: 1 1 auto;
  margin-bottom: 162px;

  @media (max-width: 1200px) {
    margin-top: 80px;
  }
  @media (max-width: 480px) {
    margin-bottom: 100px;
    margin-top: 65px;
  }
}

//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&subset=cyrillic-ext
// @import "";
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
@import "iconsFont";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$Montserrat: "Montserrat", sans-serif;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================
$Chakra: "Chakra Petch", sans-serif;

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minWidth: 320px;
$maxWidth: 1440;
$maxWidthContainer: 1585;
$md1: $maxWidthContainer + 12;
$md2: 992;
$md3: 768;
$md4: 480;
$bigcontainer: 1920;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";

body {
  font-family: $Montserrat;
  font-weight: 500;
  font-size: 17px;
  background: #000000;
  overflow-x: hidden;
  &._lock {
    overflow-y: hidden;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
}

//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  padding: 0 15px;

  @media (max-width: $md2+px) {
    max-width: 750px;
  }

  @media (max-width: $md3+px) {
    max-width: none;
    padding: 0 15px;
  }
}

//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "templates";

//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
@import "prelouder";
@import "header";
@import "footer";
@import "burger";

@import "first-page/hero";
@import "first-page/team";
@import "first-page/play";
@import "first-page/grant";
@import "first-page/nft";
@import "first-page/social";

@import "first-page/asked-one";
@import "thirty-page/asked-two";

@import "first-page/contact";
@import "second-page/contact2";

@import "first-page/card";
@import "second-page/card2";
@import "thirty-page/card3";

@import "second-page/hero-second";
@import "thirty-page/hero-thirty";

@import "second-page/tokenomic";

@import "second-page/roadmap";

@import "thirty-page/roadmap-three";

@import "thirty-page/submit";

//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
  // padding: 90px 0px 0px 0px;
  flex: 1 1 auto;
}

//===================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================
